.About {
    text-align: justify;
    width: 50%;
    font-family: 'Cinzel', serif;
    margin: 0 0 15% 2%;
    float: left;
}
.intro{
    margin: 5% 5% 0% 0%;
    font-family: 'Libre Baskerville', serif;
    
}
