.About {
    display: block;
    text-align: justify;
    width: 50%;
    font-family: 'Cinzel', serif;
    margin: 0 0 0 2%;
    float: left;
    position: relative;
}
.intro{
    margin: 10% 5% 10% 5%;
    font-family: 'Libre Baskerville', serif;
    
}
