.LastName {
    margin: 0 0 0 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 200px;
    backface-visibility: hidden;
    opacity: 1;
    transform: translateX(31.1134px);
    text-align: center;
    width: 50%;
    height: 80%;
    border: 0;
    margin-bottom: 100px;
  }

  p{
    margin-top: 1%;
    margin-bottom: 10%;
  }