.lastName {
    margin: 0 0 0 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 1200%;
    text-align: center;
    border: 0;
    margin-bottom: 8%;
  }

  .realLastName{
    margin-top: 1%;
    margin-bottom: 10%;
  }