.Menu {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
}
.menuBtn {
 margin-top: 13px;
 font-family: 'Libre Baskerville', serif;
 color: #ffffff;
 background-color: #000000;
 border: 2px #000000;
 margin: 5px;
 padding: 5px;
}
.homePhoto{
    float: left;
    width:35px;
    height: 50px;
    margin-top: 0;
    background-color: #000000;
}
.homePhotoBtn{
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}