.Menu { 
  position:absolute;
  left: 10%;
  right: 10%;
}
.one{
  display: flex;
  height: 192px;
 
}
.aboutDiv, .skillsDiv, .projectsDiv, .contactDiv {
  width: 250px;
  height: 250px;
  background-color: black;
  margin: 5px 0px 0px 5px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.otherDiv {
  width: 250px;
  height: 250px;
  background-color: white;
  margin: 10px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.spaceDiv {
  width: 125px;
  height: 125px;
  background-color: white;
  margin: 10px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.componentName{
  color: white;
  line-height: 200px;
  display:inline-block;
  font-size: 14px;
}