.homeName {
  margin: 10% 0 0 10%;
  font-family: 'Libre Baskerville', serif;
  font-size: 1200%;
  text-align: right;
  }

  .realName{
    margin: 5% 5% 0% 5%;
    border:0;
    display: block;
  }
