.skillsComponent{
    margin: 150px 0 150px 30px;
}
.skills{
    text-align: left;
    font-family: 'Cinzel', serif;
}
.skillsGroup{
    position: relative;
    margin: 2% 8%;
     }
.td{
    background-color: rgb(255, 188, 2);
    margin: 0 2.5%;
    width: 145px;
    height: 75px;
}
.tr{
    margin-bottom: 100px;
    display: inline-block;
    display: flex;
}

.imgSkills {
    width: 55px;
    height: 55px;
    margin: 10%;
    position: relative;
}
.skillName{
    font-family: 'Libre Baskerville', serif;
    margin-top: 2.5%;

} 